colorama==0.4.6
coverage==5.5
crayons==0.4.0
deprecation==2.1.0
eyed3==0.9.7
ffmpeg==1.4
filetype==1.2.0
music-tag==0.4.3
mutagen==1.47.0
packaging==23.2
Pillow==10.1.0
pydub==0.25.1
taggy==0.3.0
toml==0.10.2
ttkthemes==3.2.2
